  <div class="container">
   <div class="currency-converter">
     <div>
       <input type="number" [(ngModel)]="amount1" (ngModelChange)="convertCurrency1()" />
       <select [(ngModel)]="currency1" (ngModelChange)="convertCurrency1()">
         <option value="USD">USD</option>
       <option value="EUR">EUR</option>
       <option value="UAH">UAH</option>
       </select>
     </div>
     <div>=</div>
     <div>
       <input type="number" [(ngModel)]="amount2" (ngModelChange)="convertCurrency2()" />
       <select [(ngModel)]="currency2" (ngModelChange)="convertCurrency2()">
         <option value="USD">USD</option>
       <option value="EUR">EUR</option>
       <option value="UAH">UAH</option>
       </select>
     </div>
   </div>
   <div class="result">
     {{amount1}} {{currency1}} = {{amount2}} {{currency2}}
   </div>
 </div>
 