<div class="currency-converter">
  <div class="currency-select">
    <div class="custom-select">
      <div class="selected-option" (click)="toggleDropdown1()">
        <img [src]="getCurrencyImage(currency1)" alt="flag" /> {{ currency1 }}
      </div>
      <div class="options" *ngIf="dropdownOpen1">
        <div
          *ngFor="let currency of currencies"
          (click)="selectCurrency1(currency)"
          class="option"
        >
          <img [src]="getCurrencyImage(currency)" alt="flag" /> {{ currency }}
        </div>
      </div>
    </div>
    <input
      type="number"
      [(ngModel)]="amount1"
      (ngModelChange)="convertCurrency1()"
    />
  </div>

  <div class="arrow">
    <img src="assets/icons/swap.png" (click)="swapCurrencies()" alt="Swap Currencies">
  </div>

  <div class="currency-select">
    <div class="custom-select">
      <div class="selected-option" (click)="toggleDropdown2()">
        <img [src]="getCurrencyImage(currency2)" alt="flag" /> {{ currency2 }}
      </div>
      <div class="options" *ngIf="dropdownOpen2">
        <div
          *ngFor="let currency of currencies"
          (click)="selectCurrency2(currency)"
          class="option"
        >
          <img [src]="getCurrencyImage(currency)" alt="flag" /> {{ currency }}
        </div>
      </div>
    </div>
    <input
      type="number"
      [(ngModel)]="amount2"
      (ngModelChange)="convertCurrency2()"
    />
  </div>
</div>
